body{
    font-family: Arial;
    text-align:center;
}

.gallery{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.product{
    border:1px solid #ccc;
    padding:15px;
    width:220px;
}

img{
    width:100%;
}

button{
    padding:10px;
    cursor:pointer;
}